@page
@using ClubBaist.Models
@model ClubBaist.CancelStandingTeeTimeRequestModel
@{
    ViewData["Title"] = "CancelStandingTeeTimeRequest";
}
@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $("#reset").click(function () {
            document.location.reload(true);
        });
    </script>
}
<h1>CancelStandingTeeTimeRequest</h1>
@if (!User.HasClaim("Approved".ToString(), "Y"))
{
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-offset-3 col-md-6">
            <div class="alert alert-danger" role="alert">
                <p style="text-align:center">You are not an Approved Member of ClubBaist</p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
}
else if (User.HasClaim("Shareholder", "True"))
{
    @if (TempData["Danger"] is true)
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-offset-3 col-md-6">
                <div class="alert alert-danger" style="text-align: center;" role="alert">
                    @Model.Alert
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    }
    @if (Model.StandingTeeTimeRequest != null)
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-page-handler="Cancel" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="StandingTeeTimeRequest.StartDate"><b>Desired Start Date:</b></label>
                            <label>@Model.StartDate</label>
                            <span asp-validation-for="StandingTeeTimeRequest.StartDate"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="StandingTeeTimeRequest.EndDate"><b>Desired End Date:</b></label>
                            <label>@Model.EndDate</label>
                            <span asp-validation-for="StandingTeeTimeRequest.EndDate"></span>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="StandingTeeTimeRequest.MemberNumber1">Member Number 1:</label>
                            <input asp-for="StandingTeeTimeRequest.MemberNumber1" class="form-control form-control-sm" disabled value="@Model.StandingTeeTimeRequest.MemberNumber1"/>
                            <span asp-validation-for="StandingTeeTimeRequest.MemberNumber1"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="StandingTeeTimeRequest.MemberName1">Member Name 1:</label>
                            <input asp-for="StandingTeeTimeRequest.MemberName1" class="form-control form-control-sm" disabled value="@Model.StandingTeeTimeRequest.MemberName1"/>
                            <span asp-validation-for="StandingTeeTimeRequest.MemberName1"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="StandingTeeTimeRequest.MemberNumber2">Member Number 2:</label>
                            <input asp-for="StandingTeeTimeRequest.MemberNumber2" class="form-control form-control-sm" disabled value="@Model.StandingTeeTimeRequest.MemberNumber2"/>
                            <span asp-validation-for="StandingTeeTimeRequest.MemberNumber2"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="StandingTeeTimeRequest.MemberName2">Member Name 2:</label>
                            <input asp-for="StandingTeeTimeRequest.MemberName2" class="form-control form-control-sm" disabled value="@Model.StandingTeeTimeRequest.MemberName2"/>
                            <span asp-validation-for="StandingTeeTimeRequest.MemberName2"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="StandingTeeTimeRequest.MemberNumber3">Member Number 3:</label>
                            <input asp-for="StandingTeeTimeRequest.MemberNumber3" class="form-control form-control-sm" disabled value="@Model.StandingTeeTimeRequest.MemberNumber3"/>
                            <span asp-validation-for="StandingTeeTimeRequest.MemberNumber3"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="StandingTeeTimeRequest.MemberName3">Member Name 3:</label>
                            <input asp-for="StandingTeeTimeRequest.MemberName3" class="form-control form-control-sm" disabled value="@Model.StandingTeeTimeRequest.MemberName3"/>
                            <span asp-validation-for="StandingTeeTimeRequest.MemberName3"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="StandingTeeTimeRequest.MemberNumber4">Member Number 4:</label>
                            <input asp-for="StandingTeeTimeRequest.MemberNumber4" class="form-control form-control-sm" disabled value="@Model.StandingTeeTimeRequest.MemberNumber4"/>
                            <span asp-validation-for="StandingTeeTimeRequest.MemberNumber4"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="StandingTeeTimeRequest.MemberName4">Member Name 4:</label>
                            <input asp-for="StandingTeeTimeRequest.MemberName4" class="form-control form-control-sm" disabled value="@Model.StandingTeeTimeRequest.MemberName4"/>
                            <span asp-validation-for="StandingTeeTimeRequest.MemberName4"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label><b>Time:</b>@Model.time</label>
                        </div>
                        <div class="form-row">
                            <div class="form-group text-right col-md-12">
                                <button type="submit" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    }

}
else
{
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-offset-3 col-md-6">
            <div class="alert alert-danger" style="text-align: center;" role="alert">
                Non-Shareholders cannot make Standing Tee Time Requests
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
}
